@model DetailedBugViewModel
@{
	ViewData["Title"] = "NewBug";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Bug</h2>
<form asp-controller="Tracker" asp-action="SaveBug" asp-antiforgery="true" method="post">
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<div class="form-group">
		<label asp-for="DetailedBugDto.Preview">Preview</label>
		<textarea style="resize: none" asp-for="DetailedBugDto.Preview" class="form-control"></textarea>
		<span asp-validation-for="DetailedBugDto.Preview" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="DetailedBugDto.PriorityId">Priority</label>
		<select asp-for="DetailedBugDto.PriorityId" asp-items="@(new SelectList(Model.Priorities, "Id", "Name"))"></select>
		<span asp-validation-for="DetailedBugDto.PriorityId"></span>
	</div>
	<div class="form-group">
		<label asp-for="DetailedBugDto.CriticalityId">Criticality</label>
		<select asp-for="DetailedBugDto.CriticalityId" asp-items="@(new SelectList(Model.Criticalities, "Id", "Name"))"></select>
		<span asp-validation-for="DetailedBugDto.CriticalityId"></span>
	</div>

	<div class="form-group">
		<label asp-for="DetailedBugDto.Description">Description</label>
		<textarea style="resize: none" asp-for="DetailedBugDto.Description" class="form-control"></textarea>
		<span asp-validation-for="DetailedBugDto.Description" class="text-danger"></span>
	</div>
	<input asp-for="DetailedBugDto.Id" type="hidden" value="0"/>
	<button type="submit" class="btn btn-primary">Save</button>
</form>

@section Scripts
	{
	<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.0.min.js"></script>
	<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
	<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
}
