################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BugTrackerGetIT/v15/Server/sqlite3
**/.idea/**
**/[Bb]in/
**/[Oo]bj/
